
.food-list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.food-item {
  width:400px;
  height:300px;
  overflow: hidden;
  margin: 10px;
}

.food-image {
  width:390px;
  height:240px;
}

.food-image img {
   height: 100%;
   width: 100%;
   object-fit: contain;
}

.food-bottom {
  margin-bottom: 0px;
}

.food-list:hover {
  border-color: grey;
}
