
<div class="row">
  <div class="col-sm-6 text-center" *ngFor="let food of foodList">
      <div class="card food-item">
        <a href="javascript:void(0);" (click)="foodSelected(food)">
          <div class="food-image">
            <img class="card-img-top" [src]="getImageUrl(food)" alt="Card image">
          </div>
          <div class="card-body food-content">
            <div class="row">
              <div class="col-sm-12">
                <ngx-stars [readonly]="true" [size]="2" [maxStars]="10" [initialStars]="getInitialStars(food.id)"></ngx-stars>
              </div>
            </div>
        </div>
      </a>
    </div>
</div>
